language: node_js
node_js:
- stable
script:
- npm run build
deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  bucket: hashchange
  local_dir: $TRAVIS_BUILD_DIR/dist
  skip_cleanup: true
  on:
    branch: master
branches:
  only:
  - master
